<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Detalles del vuelo</title>

    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        main {
            margin-top: 20px;
        }

        .card {
            margin: 0 auto;
        }

        .btn-secondary {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1 class="text-center">Detalles del vuelo</h1>
    <main class="flex-container">
        <div id="main" class="row">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" id="numero_vuelo"></h5>
                            <p class="card-text" id="aerolinea"></p>
                            <p class="card-text" id="destino"></p>
                            <p class="card-text" id="origen"></p>
                            <p class="card-text" id="fecha_llegada"></p>
                            <p class="card-text" id="fecha_salida"></p>
                            <p class="card-text" id="hora_llegada"></p>
                            <p class="card-text" id="hora_salida"></p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/vuelos/index" class="btn btn-secondary">Atras</a>
        </div>
    </main>
</body>


<script>
    let path = window.location.pathname.split("/");
    let id = path[path.length-1];

    fetch(`/vuelos/detalleVuelo/${id}`)
    .then((response) => response.json())
    .then((vuelo) => {
    vuelo.forEach((vuelo) => {
        
        console.log(vuelo)
        document.getElementById('numero_vuelo').textContent = `Número de Vuelo: ${vuelo.numero_vuelo}`;
        document.getElementById('aerolinea').textContent = `Aerolinea: ${vuelo.aerolinea}`;
        document.getElementById('destino').textContent = `Destino: ${vuelo.destino}`;
        document.getElementById('origen').textContent = `Origen: ${vuelo.origen}`;
        document.getElementById('fecha_llegada').textContent = `Fecha llegada día: ${vuelo.fecha_llegada} a las: ${vuelo.hora_llegada}`;
        document.getElementById('fecha_salida').textContent = `Fecha salida día: ${vuelo.fecha_salida} a las: ${vuelo.hora_salida}`;
        document.getElementById('origen').textContent = `Origen: ${vuelo.origen}`;

    });
    });
</script>
</html>